<%= link_to "Home", articles_path, class: "home-btn" %>
<h1 class="login-title">Please enter password to create your own Articles and Manipulate your article</h1>

<%= link_to "Login", loginForUpload_path, class: "login-link" %>